[submodule "external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "server/external/pugixml"]
	path = server/external/pugixml
	url = https://github.com/zeux/pugixml.git
