[submodule "server/external/pugixml"]
	path = server/external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/Simple-Web-Server"]
	path = external/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
